<div class="container">
  
  <div class="row">
      <div>
        <h5 class="mt-5 ml-5 mb-0 bg-light">　商品一覧　</h5>
      </div>
      <div class="my-4 ml-auto mr-2">
        <%= link_to new_admin_item_path, class: "my-bt" do%>
          <i class="bi bi-plus-circle"></i></div>
        <% end %>
      </div>
  </div>
  
  <div class="row">
    <div class="col-8 mx-auto">
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>商品ID</th><th>商品名</th><th>税抜価格</th><th>ジャンル</th><th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td>
                  <%= link_to admin_item_path(item.id) do %>
                    <%= item.name %>
                  <% end %>
                </td>
                <td><%= item.price.to_s(:delimited) %></td>
                <td><%= item.genre_id %></td>
                <td><%= item.is_active ? '販売中' : '販売休止中'  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  
</div>