<div class="container my-5 ">
  <div class="row">
    <h5 class="ml-5 mb-5 bg-light">　商品詳細　</h5>
  </div>

  <div class="row">
    <table>
      <thead>
        <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "350x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "350x200" %>
        <% end %>
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>  
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre_id %></td>
        </tr>
        <tr>
          <td>税込価格<br>(税抜価格)</td>
          <td>（<%= @item.price %>）円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <!--<td><#%= @item.select :is_active ,[['販売中',true],['販売停止中',false]] %></td>-->
        </tr>
      </thead>
    </table>
  </div>
</div>