<div class="container my-5 ">
  <div class="row">
    <h5 class="ml-5 mb-5 bg-light">　商品詳細　</h5>
  </div>

  <div class="row">
    <div class="col-4">
        <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "250x180", class:"img-fluid", style:"max-width: 90%; , height: auto;", style:"object-fit: cover;" %>
        <% else %>
          <%= image_tag 'no_image', size: "250x180", class:"img-fluid border", style:"max-width: 90%; , height: auto;", style:"object-fit: cover;" %>
        <% end %>
    </div>
    <div class="col-7">
      <table>
        <tr>
          <td class="text-nowrap">商品名</td>
          <td><%= @item.name %></td>
        </tr>  
        <tr>
          <td class="text-nowrap">商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td class="text-nowrap">ジャンル</td>
          <td><%= @item.genre_id %></td>
        </tr>
        <tr>
          <td class="text-nowrap">税込価格<br>(税抜価格)</td>
          <td><%= @item.add_tax_price.to_s(:delimited) %> （<%= @item.price.to_s(:delimited) %>）円</td>
        </tr>
        <tr>
          <td class="text-nowrap">販売ステータス</td>
          <td><%= @item.is_active ? '販売中' : '販売休止中' %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to '編集する', edit_admin_item_path(@item.id), class:"btn btn-success px-5 py-2 mt-4" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>