<p class="ml-3 my-3" style="color:green;">
  <%= flash[:notice] %>
</p>

<div class="container my-5">
  <div class="row">
    <h5 class="ml-5 mb-4 bg-light">　管理者ログイン　</h5>
  </div>
  
  <div class="row mx-5">
    <div class="col-8 mx-5">
            <!--resourceはdeviseに元々ある機能で、Customer.newを代入するような役割を果たしている。-->
            <!--<#%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
            <%= form_with model: resource, url: session_path(resource_name) do |f| %>
              <table>
                <tbody>  
                  <tr>
                    <td><%= f.label :email, 'メールアドレス' %></td>
                    <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class:"ml-5 mb-2 form-control" %></td>
                  </tr>

                  <tr>
                    <td><%= f.label :password, 'パスワード' %></td>
                    <td><%= f.password_field :password, autocomplete: "current-password", class:"ml-5 mb-2 form-control" %></td>
                  </tr>
                  
                  <tr>
                    <td></td>
                    <td><%= f.submit "ログイン", class:"btn btn-primary btn-sm ml-5 px-5 mt-4" %></td>
                  </tr>
                </tbody>
              </table>  
            <% end %>

    <%= render "admin/shared/links" %> <!--viewファイル直下のファイル名を変更 admins => admin-->
  </div>
</div>