<div class="container my-5 ">
  <div class="row">
      <h5 class="ml-5 mb-3 bg-light">　会員一覧　</h5>
  </div>
  
  <div class="row">
    <div class="col-8 mx-auto">
      
          <table class="table">
            <thead class="bg-light">
                <tr>
                  <th>会員ID</th><th>氏名</th><th>メールアドレス</th><th>ステータス</th>
                </tr>
            </thead>
            <tbody>
              <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer.id %></td>
                  <td style="text-decoration: underline;">
                    <%= link_to admin_customer_path(customer.id), class:"text-dark" do %>
                      <%= customer.last_name %> <%= customer.first_name %>
                    <% end %>
                  </td>
                  <td><%= customer.email %></td>
                  <td>
                    <% if customer.is_deleted %>
                      <p class="text-secondary mb-0"><strong>退会</strong></p>
                    <% else %>
                      <p class="text-success mb-0"><strong>有効</strong></p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="my-4">
            <div class="d-flex justify-content-center">
              <%= paginate @customers %>
            </div>
          </div>
          
    </div>
  </div>
</div>