<div class="container my-5 ">
  <div class="row">
    <h5 class="ml-5 mb-4 bg-light">　注文履歴一覧　</h5>
  </div>
  
  <div class="row">
    <div class="col-10 px-0 ml-5">
        <table class="table">
          <thead class="bg-light">
              <tr>
                <th style="width:20%;">購入日時</th>
                <th>購入者</th>
                <th style="width:16%;">注文個数</th>
                <th style="width:22%;">注文ステータス</th>
              </tr>
          </thead>
          
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td style="text-decoration: underline;">
                  <%= link_to admin_order_path(order.id), class:"text-dark" do %>
                    <p class="mb-0"><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
                  <% end %>
                </td>
                <td>
                  <%= order.customer.last_name %> <%= order.customer.first_name %>
                </td>
                <td>
                  <%= order.order_details.sum(:amount) %>
                </td>
                <td style="color:green;">
                  <%= order.status_i18n %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
