<div class="container my-5">
  <div class="row">
      <h5 class="ml-5 mb-5 bg-light">　配送先編集　</h5>
  </div>

  <div class="row">
      <%= form_with model: @address do |f| %>
        <table>
          <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :postal_code, autofocus: true, class:"ml-5 p-1 form-control", style:"width:200px;" %></td>
          </tr>
          <tr>
              <td>住所</td>
              <td><%= f.text_area :address, autofocus: true, class:"ml-5 p-1 form-control", style:"width:400px;" %></td>
          </tr>
          <tr>
              <td>宛名</td>
              <td><%= f.text_field :name, autofocus: true, class:"ml-5 p-1 form-control", style:"width:200px;" %></td>
              <td><%= f.submit '変更内容を保存', class:"btn btn-success btn-sm ml-5" %></td>
          </tr>
        </table>
      <% end %>
  </div>
</div>