<div class="container">
  <div class="row mt-5 ml-5">
      <h5 class="ml-5 mb-3 bg-light">　注文情報入力　</h5>
  </div>
  
  <div class="mt-2 ml-3">
    <%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %> 
        <label><strong>支払方法</strong></label>
          <div class="ml-5">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: "checked" %>
            <%= f.label :payment_method, "クレジットカード" %>
          </div>
          <div class="ml-5">
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, "銀行振込" %>
          </div>
        
        <label><strong>お届け先</strong></label>
          <div class="ml-5">
            <%= f.radio_button :address_select, 0, checked: "checked" %>
            <%= f.label :order_address, "ご自身の住所" %>
              <p class="ml-5">
                〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
                <%= current_customer.last_name %><%= current_customer.first_name %>
              </p>
          </div>
          <div class="ml-5">
            <%= f.radio_button :address_select, 1 %>
            <%= f.label :order_address, "登録済住所から選択" %>
            <p>
              <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %>
            </p>
            <!--f.collection_select :address_id, @addresses, :id, :address_display %>-->
            <!--f.collection_select(メソッド名, 要素の配列, value属性の項目, テキストの項目, オプション={}, HTML属性={} or イベント属性={})-->
            <!--address_idはメゾット名。addressesが要素の配列。:idはvalue属性の項目（form内容）。
                :address_displayはテキストの項目（直接表示するもの）-->
          </div>
          <div class="ml-5">
            <%= f.radio_button :address_select, 2 %>
            <%= f.label :order_address, "新しいお届け先" %>
              <table class="ml-5">
                <tr>
                  <td class="small">郵便番号（ハイフンなし）</td>
                  <td>
                    <%= text_field_tag 'address[postal_code]', '', class:"form-control", style:"width:200px;", placeholder: "0000000" %>
                  </td>
                </tr>
                <tr>
                  <td class="small">住所</td>
                  <td>
                    <%= text_field_tag 'address[address]', '', class:"form-control", style:"width:500px;", placeholder: "東京都渋谷区代々木神園町0-0" %>
                  </td>
                </tr>
                <tr>
                  <td class="small">宛名</td>
                  <td>
                    <%= text_field_tag 'address[name]', '', class:"form-control", style:"width:200px;", placeholder: "令和道子" %>
                  </td>
                </tr>
              </table>
          </div>
          <div class="d-flex justify-content-center">
            <%= f.submit '確認画面に進む', class:"btn btn-primary mt-3 mb-5 px-4" %>
          </div>
          
    <% end %>
  </div>
</div>