<div class="container my-5">
  <div class="row">
    <h5 class="ml-5 mb-4 bg-light">　ログイン　</h5>
  </div>
      
  <div class="ml-3">
    <div class="row ml-5">
        <h6 class="bg-light">　会員の方はこちらからログイン　</h6>
    </div><br>
    
    <div class="col-9 mx-auto">
      
      
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table>
          <tbody>
            <div class="field ml-5">
              <tr>
                <td><%= f.label :email, 'メールアドレス', class:"mb-0" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class:"ml-5 form-control", style:"width:400px;" %></td>
              </tr>
          
              <tr>
                <td><%= f.label :password, 'パスワード', class:"mb-0 mt-2" %></td>
                <td><%= f.password_field :password, autocomplete: "current-password", class:"mt-2 ml-5 form-control", style:"width:400px;" %></td>
              </tr>
              
              <tr>
                <td></td>
                <td><%= f.submit "ログイン", class:"btn btn-primary mt-4 ml-5 px-5" %></td>
              </tr>
            </div>
          </tbody>
          </table>
          <% end %>
      
    </div><br>
    
    <div class="row ml-5">
      <h6 class="bg-light">　会員登録がお済みでない方　</h6>
    </div>
    <div class="col-9 mx-auto mt-4">
      <!--以下のファイルを直接変更するか、link_toを使って新しく記述するかのいずれかで変更可能-->
      <%= render "public/shared/links" %> <!--viewファイル直下のファイル名を変更 publics => public-->
    </div>
    
  </div>
</div>
