<div class="container m-5">
  <div class="row">

    <div class="col-3">
      <div class="border-top border-left border-right border-dark">
        <p class="text-nowrap text-center px-2 mb-0">ジャンル検索</p>
      </div>
      <div class="border border-dark p-4">
        <% @genres.each do |genre| %>
          <p>
            <%= link_to root_path do %>
              <%= genre.name %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    
    <div class="col-3 ml-3">
        <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "250x180", style:"object-fit: cover;" %>
        <% else %>
          <%= image_tag 'no_image', size: "250x180", class:"border mr-3", style:"object-fit: cover;" %>
        <% end %>
    </div>
    
    <div class="col-5 mt-2">
        <table>
          <tr>
              <td><h4><b><%= @item.name %></b></h4></td>
          </tr>
          <tr>
              <tds>
                <%= @item.introduction %>
              </td>
          </tr>
          <tr>
              <td>
                <div class="mt-5 d-flex align-items-end">
                    <h5 class="mb-0" style="float:left">
                      ￥<%= @item.add_tax_price.to_s(:delimited) %>
                    </h5>
                    <p class="small mb-0">税込</p>
                </div>
              </td>
          </tr>
          <tr>
            <td>
              <!--form_withを使う。-->
              <% if customer_signed_in? %>
                <%= form_with model: @cart_item, url: cart_items_path do |f| %> 
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.select :amount, *[1..5], include_blank: "個数選択", class:"form-control mt-4" %>
                  <%= f.submit 'カートに入れる', class:"btn btn-success btn-sm px-3 py-2 ml-5 my-4" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
    </div>
    
  </div>
</div>
