<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
      .bi-plus-circle{
        font-size: 40px;
        color: gray;
        filter: drop-shadow(2px 2px 0px #DDD);
        /*filter: drop-shadow(左右の位置px 上下の位置px ぼかし具合px 色);*/
      }
      .my-bt:hover .bi-plus-circle {
	      color: black;
      }
    </style>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="border-bottom border-dark">
        <div class="row">
          
          <div class="col-3 ml-4 d-flex align-items-center">
            <!--管理者がログインorカスタマーがログインで遷移先を変更-->
            <% if admin_signed_in? %>
              <h3 class="my-4 py-2 border text-center" style="width:200px;">
                <%= link_to "LOGO", admin_top_path, class:"text-dark text-decoration-none" %>
              </h3>
            <% else %>
              <h3 class="my-4 py-2 border text-center" style="width:200px;">
               <%= link_to "LOGO", root_path, class:"text-dark text-decoration-none" %>
              </h3>
            <% end %>
          </div>
      
          <div class="col-8 d-flex align-items-center ml-auto">
            <!--カスタマーがログイン時に名前入りのウェルカムメッセージを表示-->
            <div class="ml-auto mr-5" style="">
              <% if customer_signed_in? %>
                <p class="my-4 small">ようこそ、<%= current_customer.last_name %>さん！</p>
              <% end %>
            </div>
                
            <nav class="navbar navbar-expand-lg navbar-light flex-column mr-3 my-3" style="float:right;">
                <!--ナビバーのハンバーガーボタン-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
          
                <!--ドロップダウンする範囲-->
                <div class="collapse navbar-collapse" id="navbarNavDropdown" class="d-flex align-items-center">
                  
                    <!--管理者がログインしている時のナビバー-->
                    <% if admin_signed_in? %>
                    <ul class="list-inline" style="margin:0px;">
                      <li class="list-inline-item">
                        <%= link_to '商品一覧', admin_items_path, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to '会員一覧', admin_customers_path, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to '注文履歴一覧', admin_top_path, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to 'ジャンル一覧', admin_genres_path, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                    </ul>
            
                    <!--カスタマーがログインしている時のナビバー-->
                    <% elsif customer_signed_in? %>
                    <ul class="list-inline" style="margin:0px;">
                      <li class="list-inline-item">
                        <%= link_to 'マイページ', my_page_path, class:"btn btn-outline-dark btn-sm" %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to '商品一覧', items_path, class:"btn btn-outline-dark btn-sm" %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to 'カート', cart_items_path, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                    </ul>
                    
                    <!--誰もログインしていない時-->
                    <% else %>
                    <ul class="list-inline" style="margin:0px;">
                      <!--カスタマー側-->
                      <li class="list-inline-item">
                        <%= link_to 'About', about_path, class:"btn btn-outline-dark btn-sm" %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to '商品一覧', items_path, class:"btn btn-outline-dark btn-sm" %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to '新規会員登録', new_customer_registration_path, class:"btn btn-outline-dark btn-sm" %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to 'ログイン', new_customer_session_path, class:"btn btn-outline-dark btn-sm"%>
                      </li>
                      <!--管理者側-->
                      <li class="list-inline-item">
                        <%= link_to '管理者ログイン', new_admin_session_path, class:"btn btn-outline-info btn-sm"%>
                      </li>
                    </ul>
                    <% end %>
                </div>
                
                <!--検索フォーム-->
                <div class="input-group mt-3" style="width:250px;"><br />
                  <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="Search"></input>
                  <span class="input-group-btn input-group-append">
                    <submit type="submit" id="btn-search" class="btn btn-secondary"><i class="bi bi-search"></i></submit>
                  </span>
                </div>
                
            </nav>
          </div>
          
        </div>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer class="mt-auto border-top border-dark"></footer>
    
  </body>
</html>
